* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.card-deck {
  margin-top: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  border-radius: 1.25rem !important;
  border: none !important;
  margin-left: 15% !important;
  background-color: transparent !important;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-title {
  color: black;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: left;
}

.card-text {
  color: black;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.card-img {
  width: 70% !important;
  height: 70% !important;
  -ms-flex-negative: 1 !important;
      flex-shrink: 1 !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services {
  background-color: #3ec7d1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.services__title {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem;
}

.card-services:hover {
  background-color: #302b63 !important;
  color: white !important;
  cursor: pointer;
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card-services:hover .card-text {
  color: white;
}

.card-services:hover .card-title {
  color: white;
}

.card::after {
  animation-direction: reverse;
}

@media only screen and (max-width: 991px) {
  .card-title {
    margin-top: -2.25rem;
  }
}

.about-us {
  background-color: #302b63;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.about-us__title {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 2.5%;
  color: white;
}

.about-us__text {
  font-size: 1.8rem;
  text-align: left;
  color: white;
  white-space: inherit;
  font-family: inherit;
  margin-top: -4%;
}

.about-us__text2 {
  line-height: 2.75rem;
}

.about-us__animation {
  text-align: center;
  margin-left: 4%;
}

.about-us__button {
  color: white;
  padding: 1.5rem;
  font-size: 2.25rem;
  background-color: #3ec7d1;
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  margin-top: 4%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-us__button:hover {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
  background-color: #016970;
}

@media only screen and (max-width: 1186px) {
  .about-us__button {
    margin-bottom: 18%;
  }
}

@media only screen and (max-width: 768px) {
  .about-us__text {
    margin-top: -12.5%;
  }
}

@media only screen and (max-width: 1414px) {
  .about-us__button {
    margin-bottom: 28%;
  }
}

@media only screen and (max-width: 1199px) {
  .about-us__button {
    margin-bottom: 18%;
  }
}

@media only screen and (max-width: 991px) {
  .about-us__text {
    margin-top: -12.5%;
  }
}

.footer {
  background: #3ec7d1;
  color: white;
  font-size: 1.5rem;
  margin-top: -1.6%;
}

.footer__links:hover {
  cursor: pointer;
}

.footer__links p:hover {
  color: #302b63;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation {
  font-size: 2.5rem;
  margin-left: 11%;
  -webkit-animation: moveInRight 1.5s ease-out;
          animation: moveInRight 1.5s ease-out;
}

.nav-link {
  color: white;
  margin-top: 1rem;
  margin-right: 5.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-link:hover {
  color: #3ec7d1;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-toggler-icon {
  width: 3rem !important;
  height: 3rem !important;
  margin-right: 4rem !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.header {
  background-color: #302b63;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.header__title {
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.header__text {
  margin-left: -8% !important;
  margin-top: 1%;
}

.header__text__primary {
  font-size: 6rem !important;
  color: white !important;
  -webkit-animation: moveInLeft 1.5s ease-out;
          animation: moveInLeft 1.5s ease-out;
}

.header__text__primary p {
  margin-top: -2%;
}

.header__text__sub {
  color: white;
  font-size: 2rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.header__text__btn-cta {
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
  color: white;
  padding: 1.5rem;
  font-size: 2.25rem;
  background-color: #3ec7d1;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 4.5%;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__text__btn-cta:hover {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
  background-color: #016970;
}

.header-animation {
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.card-header {
  width: 110%;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media only screen and (max-width: 1199px) {
  .header__text {
    margin-left: 1% !important;
  }
  .header__text__primary {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 937px) {
  .header__text {
    margin-left: 1% !important;
  }
  .header__text__primary {
    font-size: 4rem !important;
  }
  .header__text__sub {
    font-size: 1.3rem;
  }
  .header__text__btn-cta {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 575px) {
  .header__text {
    margin-left: -7% !important;
  }
  .header__text__primary {
    font-size: 4rem !important;
  }
  .header__text__sub {
    font-size: 1.3rem;
  }
  .header__text__btn-cta {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=main.css.map */